body {
	margin: 0;
}

.clear {
	clear: both;
	border: 0;
}

img {
	padding: 20px;
	height: 80px;
	width: 80px;
}

div {
	border: 1px solid #999;
	margin: 20px;
	background-color: #fff;
}

.father {
	background-color: #eee;
}

.left {
	width: 200px;
	float: left;
}

.left img {
	float: left;
}

.left p {
	text-align: center;
}

.middle {
	position: absolute;
	margin-left: 242px;
	margin-right: 182px;
	padding: 20px;
}

.right {
	width: 120px;
	float: right;
}

.right img {
	padding-top: 0;
}

ul,ol,li {
	list-style-type: none;
	padding: 0;
}





